:root {
    --background: #f4f4f9;
    --main-text-color: #2e2e2e;
    --container: #f8fafd;
    --button-primary: #5c8bff;
    --button-primary-hover: #4a7ac3;
    --button-primary-active: #3d6a9a;
    --button-primary-text: #ffffff;
    --button-secondary: #98c9e2;
    --button-secondary-text: #333333;
    --button-secondary-active: #89f47b;
    --button-secondary-active-border: #7bd26f;
    --gradient-1: #87a7d9;
    --gradient-2: #9c5bbf;
    --textarea-bg: #f1f9fc;
    --textarea-border: #d1dbe1;
    --textarea-text: #4f4f4f;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #282c34;
        --main-text-color: #e1e2e2;
        --container: #3b4252;
        --button-primary: #61afef;
        --button-primary-hover: #86c3f5;
        --button-primary-active: #4076a1;
        --button-primary-text: #fefefe;
        --button-secondary: #667dd9;
        --button-secondary-text: #e1e1e1;
        --button-secondary-active: #8dd088;
        --button-secondary-active-border: #8dd088;
        --button-secondary-active-border: #408f39;
        --gradient-1: #567480;
        --gradient-2: #322e6b;
        --textarea-bg: #2e3440;
        --textarea-border: #4c566a;
        --textarea-text: #d8dee9;
    }
}

body {
    background-color: var(--background);
    color: var(--main-text-color);
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientRotate {
    0% {
        background: linear-gradient(0deg, var(--gradient-1), var(--gradient-2));
    }
    25% {
        background: linear-gradient(90deg, var(--gradient-1), var(--gradient-2));
    }
    50% {
        background: linear-gradient(180deg, var(--gradient-1), var(--gradient-2));
    }
    75% {
        background: linear-gradient(270deg, var(--gradient-1), var(--gradient-2));
    }
    100% {
        background: linear-gradient(360deg, var(--gradient-1), var(--gradient-2));
    }
}

@keyframes gradientGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 200px;
    width: 600px;
    max-width: 800px;
    background-color: var(--container);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(118deg, var(--gradient-1), var(--gradient-2));
    background-size: 300% 300%;
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    animation: gradientGlow 3s linear infinite;

}


@media only screen and (max-width: 576px) {
    .container {
        margin: 10px;
    }
}

label {
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.fps-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fps-options {
    display: flex;
    gap: 5px;
}

.fps-btn {
    padding: 8px 15px;
    border: 2px solid #444;
    background-color: var(--button-secondary);
    color: var(--button-secondary-text);
    cursor: pointer;
    border-radius: 20em;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.fps-btn.active {
    background-color: var(--button-secondary-active);
    border-color: var(--button-secondary-active);
    color: var(--main-text-color);
    border-color: var(--button-secondary-active-border);
}

.custom-fps-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.input-fps {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    color: var(--main-text-color);
    outline: none;
    font-weight: bold;
}

.input-fps.hidden {
    display: none;
}

.fps-btn:not(.active):hover {
    border-color: #666;
    color: var(--main-text-color);
}

textarea {
    background-color: var(--textarea-bg);
    color: var(--textarea-text);
    border: 1px solid var(--textarea-border);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    resize: none;
    outline: none;
}

button {
    background-color: var(--button-primary);
    color: var(--button-primary-text);
    min-width: 75px;
    max-width: 160px;
    height: 46px;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--button-primary-hover);
}

button:active {
    background-color: var(--button-primary-active)
}

.output-container {
    background-color: #282c34;
    border-radius: 8px;
    scrollbar-color: #6c757d #3a3f47;
}

.code-text-field {
    padding: 1em;
    margin-top: 0;
    white-space: pre;
    max-height: 200px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-color: #6c757d #3a3f47;
    word-wrap: normal;
}

.code-text-field {
    overflow-x: auto;
    scrollbar-color: #6c757d #3a3f47;
}

.code-text-field ::-webkit-scrollbar {
    height: 10px;
    width: 0;
}

.code-text-field::-webkit-scrollbar-track {
    background: #3a3f47;
    border-radius: 8px;
}

.code-text-field::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 8px;
    height: 8px;
}

.code-text-field::-webkit-scrollbar-thumb:hover {
    background: #5a6268;
}

.code-text-field:active::-webkit-scrollbar,
.code-text-field:hover::-webkit-scrollbar {
    width: 8px;
}

.output-container-top-bar {
    background-color: #111;
    padding: .5em 1em;
    font-size: small;
    display: flex;
    justify-content: right;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

code {
    color: #d8dee9;
}

.copy-container {
    display: flex;
    cursor: pointer;
}

.copy-container:hover {
    color: #d8dee9;
}

.copy-button-icon {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .25rem;
    color: #abb2bf;
}

.copy-button-text:hover {
    color: white;
}

.copy-button-text:hover .copy-icon {
    color: white;
    fill: white;
    stroke: white;
}

.notification {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8dd088;
    color: white;
    padding: 15px;
    border-radius: 8px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
    text-align: center;
    white-space: nowrap;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.info-icon {
    display: inline-block;
    font-size: 14px;
    color: #abb2bf;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.info-icon:hover::after {
    opacity: 1;
}
